{% extends 'layout.twig' %}

{% block body %}
<div class="container">
  <div class="row" style="margin-top: 50px;">
    <div class="jumbotron">
      <h1 class="display-3">Reference DB Creator</h1>
      <p class="lead">
        The Reference DB Creator is a pipeline to create reference databases for arbitrary markers and taxonomic groups from NCBI
        data. It can optionally be used to trim and orient the sequences and train taxonomic classifiers.
      </p>
      <hr class="my-4">
      <p>Some information how to use the pipeline</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        <a class="btn btn-primary btn-lg" href="#" role="button"><i class="fa fa-github"></i></a>
      </p>
    </div>
  </div>
  <fieldset>
    <legend>Search String</legend>
    <div class="form-group">
      <input type="text" class="form-control" id="markerSearchString" placeholder="Search String">
    </div>
    <legend>Taxonomic Range</legend>
    <div class="form-group">
      <select id="taxonomicRange" class="custom-select">
        <option selected="">Open this select menu</option>
        <option value="Bellis">Bellis</option>
        <option value="Viridiplantae">Viridiplantae</option>
        <option value="3">...</option>
      </select>
    </div>
    <legend>Taxa List</legend>
    <div class="form-group">
      <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
    </div>
    <legend>Sequence Length Filter</legend>
    <div class="form-group">
      <input type="text" class="form-control" id="sequenceLengthFilter" placeholder="100:2000">
    </div>
  </fieldset>
  <div class="row" style="margin-top: 20px;">
    <button type="button" class="btn btn-primary btn-lg" >Execute</button>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div id="result_buttons">
    </div>
    <div class="logs" id="messages" style="width:100%;">
      <h4 style="text-align: center; padding-top: 5px; color: #ffffff">Console Output</h4>
    </div>
  </div>
</div>
{% endblock %}
