{% extends 'layout.twig' %}

{% block body %}
<div class="container">
  <div class="row" style="margin-top: 50px;">
    <div class="jumbotron">
      <img src="/img/logo.svg" width="150px" style="float:right"/>
      <h1 class="display-3">BCdatabaser <span style="font-size:50%">v1.1.1</span></h1>
      <p class="lead">
        The Reference DB Creator - BCdatabaser - is a pipeline to create reference databases for arbitrary
        markers and taxonomic groups from NCBI data. It can optionally be used to trim and orient the sequences
        and train taxonomic classifiers.
      </p>
      <p>
        This web interface exposes a subset of the parameters of the <a href="https://github.com/molbiodiv/bcdatabaser">command line version</a>.
        All databases built here are automatically pushed to zenodo and publicly listed.
        If you want to create large numbers of databases, private databases or use more custom parameters please use the command line version instead.
        Taxonomic range and taxa list are per default checked against NCBI Taxonomy names, any unknown names will cause an error.
        Aditionally, the sequences per taxon are limited to 9 and the sequence length range is set to 100-2000bp.
        This corresponds to the command line parameters: <code>--check-tax-names --sequences-per-taxon=9 --sequence-length-filter=100:2000</code>
      </p>
      <p>
        If you use BCdatabaser please cite our preprint <a href="https://doi.org/10.32942/osf.io/cmfu2"><img src="https://img.shields.io/badge/DOI-10.32942%2Fosf.io%2Fcmfu2-blue.svg"/></a> in addition to the specific dataset.
        We do not store or use any personal data. Only meta-data of the jobs is stored in the database, everything else is submitted to zenodo and then deleted locally.
        If you have any questions or requests please do not hesitate to open <a href="https://github.com/molbiodiv/bcdatabaser_web/issues">an issue</a>.
      </p>
      <p>
        Please be aware that the runtime of your job depends on the taxonomic range and the search term.
        Due to limited computational resources only one job is executed at a time, all other jobs are queued (see table at the bottom).
      </p>
      <hr class="my-4">
      <p>Some information how to use the pipeline</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://molbiodiv.github.io/bcdatabaser/" role="button">Learn more</a>
        <a class="btn btn-primary btn-lg" href="https://github.com/molbiodiv/bcdatabaser" role="button"><i class="fa fa-github"></i></a>
      </p>
      <p id="queue_status" style="display:none">
        There are currently <b id="running_jobs">x</b> jobs running and <b id="pending_jobs">y</b> pending.
      </p>
    </div>
  </div>
 
  <div class="alert alert-success alert-dismissible" role="alert" id="your_job_notification" style="display:none">
    <h4 class="alert-heading">Well done!</h4>
    <p>Your job was submitted successfully. It will be processed as soon as possible. Please check back later, it will appear in the results table.</p>
    <hr>
    <p class="mb-0">
      To check on the status and to see possible error messages if it does not show up in the results table soon. Your job id is: <a id="your_job" href="#">XYZ</a>
      You can find it in the job table below.
    </p><p class="mb-0">
      To download your results click on the doi badge.
      This will lead you to zenodo where the archive with results is stored permanently.
      The files therein can directly be used for classification with usearch (utax/sintax), or BLAST as the full lineage is contained within the fasta header.
    </p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="row">
    <div class="col-6">
      <h4 style="text-align: center; padding-top: 5px; color: #ffffff">New Search</h4>
      {% if user.name is defined %}
      <fieldset>
        <legend>Search String</legend>
        <div class="form-group">
          Presets:
          <div class="row">
            <div class="col-2">
              <a class="btn" id="markerSearchPresetITS2" href="#" style="color:#DF691A" role="button">ITS2</a>
            </div>
            <div class="col-2">
              <a class="btn" id="markerSearchPresetRbcL" href="#" style="color:#DF691A" role="button">rbcL</a><br>
            </div>
            <div class="col-2">
              <a class="btn" id="markerSearchPresetCOI" href="#" style="color:#DF691A" role="button">COI</a><br>
            </div>
          </div>
          First word will be used in output file name, so the commonly used marker abbreviation code is recommended
          <input type="text" class="form-control" id="markerSearchString" placeholder="Search String">
        </div>
        <legend>Taxonomic Range</legend>
        <div class="form-group">
          Only child taxa of this will be considered (case sensitive)
          <input type="text" class="form-control" id="taxonomicRange" value="Viridiplantae">
        </div>
        <legend>Taxa List</legend>
        <div class="form-group">
          plain text file, one taxon per line, please give a concise meaningful description
          <input type="text" class="form-control" id="taxaListDescription" placeholder="US-CA">
          <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
          <input type="checkbox" id="warnFailedTaxNames"> Ignore unknown taxa (if unchecked: stop with an error)
        </div>
        <legend>Output name</legend>
        <div class="form-group">
          Automatically constructed from your search parameters
          <input type="text" class="form-control" id="outdir" style="color:#ffffff" disabled>
        </div>
        <legend>Submitter</legend>
        <div class="form-group">
          Your name and orcid will be used as author of the dataset that will be deposited at zenodo
          <input type="text" class="form-control" id="submitter" style="color:#ffffff" disabled value="{{ user.name }} - {{ user.orcid }}">
          <button type="button" class="btn btn-primary" id="logoutButton" onclick="location.href='/auth/logout'">Logout</button>
        </div>
      </fieldset>
      <div class="row" style="margin-top: 20px;">
        <button type="button" class="btn btn-primary btn-lg" id="executeJobButton">Execute</button>
      </div>
      {% else %}
        Login via ORCID is required, as the reference dataset will be made public at <a href="https://zenodo.org">zenodo.org</a> with a DOI and affiliated with your name and ORCID.
        If you want to process without login, please use the <a href="https://github.com/molbiodiv/bcdatabaser">command line version</a>.
        <button onclick="location.href='/auth/orcid'" id="login-orcid-button" type="button" class="btn btn-primary btn-lg">
          <img alt="ORCID logo" id="orcid-id-logo" src="https://orcid.org/sites/default/files/images/orcid_24x24.png" width="24" height="24">
          Login with your ORCID iD
        </button>
      {% endif %}
    </div>
  
    <div class="col-6" id="prevResultPanel">
      <h4 style="text-align: center; padding-top: 5px; color: #ffffff">Previous Results</h4>
      <table class="table table-hover" id="prevResults" style="color:white">
        <thead>
          <tr>
            <th>Time</th>
            <th>Name</th>
            <th>#seqs</th>
            <th>#taxa</th>
            <th>doi</th>
            <th>Details</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <hr />
  <div class="row" style="margin-top:50px">
    <h4 style="text-align: center; padding-top: 5px; color: #ffffff">All Jobs</h4>
    <!-- <button type="button" class="btn btn-primary" id="toggleAllJobsPanelButton" >Toggle</button> -->
    <div class="col-12" id="allJobsPanel">
      <table class="table table-hover" id="allJobs" style="color:white">
        <thead>
          <tr>
            <th>Time</th>
            <th>Name</th>
            <th>Status</th>
            <th>Details</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
{% endblock %}
