{% extends 'layout.twig' %}

{% block body %}
  <div class="container">
  <div class="row">
    <h1 class="page-header">MetaDB</h1>
  </div>
    <div class="row" style="margin-top: 20px;">
      <button type="button" class="btn btn-primary btn-md" >Execute Script</button>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="logs">
        <h4 style="text-align: center; padding-top: 5px; color: #ffffff">Console Output</h4>
        <ul id="messages"></ul>
      </div>
    </div>
  </div>
{% endblock %}
