{% extends 'layout.twig' %}

{% block body %}
<div class="container">
  <div class="row" style="margin-top: 50px;">
    <div class="jumbotron">
      <h1 class="display-3">Reference DB Creator</h1>
      <p class="lead">
        The Reference DB Creator is a pipeline to create reference databases for arbitrary markers and taxonomic groups from NCBI
        data. It can optionally be used to trim and orient the sequences and train taxonomic classifiers.
      </p>
      <hr class="my-4">
      <p>Some information how to use the pipeline</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        <a class="btn btn-primary btn-lg" href="#" role="button"><i class="fa fa-github"></i></a>
      </p>
    </div>
  </div>
  <fieldset>
    <legend>Search String</legend>
    <div class="form-group">
      Presets:
      <a class="btn" id="markerSearchPresetITS2" href="#" role="button">ITS2</a>
      <a class="btn" id="markerSearchPresetRbcL" href="#" role="button">rbcL</a>
      <input type="text" class="form-control" id="markerSearchString" placeholder="Search String">
    </div>
    <legend>Output name</legend>
    <div class="form-group">
      Recommended Format: marker.taxonomicRange.countryCode.date
      <input type="text" class="form-control" id="outdir" placeholder="its2.viridiplantae.de.2019-04-01">
    </div>
    <legend>Taxonomic Range</legend>
    <div class="form-group">
      <input type="text" class="form-control" id="taxonomicRange" placeholder="Viridiplantae">
    </div>
    <legend>Taxa List</legend>
    <div class="form-group">
      <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
    </div>
    <legend>Sequence Length Filter</legend>
    <div class="form-group">
      <input type="text" class="form-control" id="sequenceLengthFilter" placeholder="100:2000">
    </div>
  </fieldset>
  <div class="row" style="margin-top: 20px;">
    <button type="button" class="btn btn-primary btn-lg" >Execute</button>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div id="result_buttons">
    </div>
    <div class="logs" id="messages" style="width:100%;">
      <h4 style="text-align: center; padding-top: 5px; color: #ffffff">Console Output</h4>
    </div>
  </div>
  <div class="row" id="prevResultPanel" style="margin-top: 20px;">
    <h4 style="text-align: center; padding-top: 5px; color: #ffffff">Previous Results</h4>
    <table class="table" id="prevResults">
      <thead>
        <tr>
          <th>Time</th>
          <th>Name</th>
          <th>Marker</th>
          <th>Taxon</th>
          <th>doi</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
{% endblock %}
