.container {
  margin-top: 40px;
  text-align: center;
}
.btn {
  margin-bottom: 20px;
  color: white;
}

.table {
  color: white;
}

#messages {
  font-family: "Lucida Console", Monaco, monospace;
  list-style: none;
  text-align: left;
}
